In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [11]:
not_hot100 = pd.read_csv("./not_hot.csv")
not_hot100

,Unnamed: 0,SongName,ArtistName
0,0,Money Longer,Lil Uzi Vert
1,1,DUELE EL CORAZON (feat. Wisin),Enrique Iglesias
2,2,My Number,Foals
3,3,Lot to Learn,Luke Christopher
4,4,Tlen,Taco Hemingway
...,...,...,...
2995,2995,BYE,Jaden
2996,2996,Pillars,My Anh
2997,2997,Gái Độc Thân,Tlinh
2998,2998,Renegade (feat. Taylor Swift),Big Red Machine
2999,"2999,Letter to Jarad,""LRN Slime, Shiloh Dynasty""",NaN,NaN

In [12]:
not_hot100 = not_hot100.sample(2500)
not_hot100

,Unnamed: 0,SongName,ArtistName
1949,1949,Save Your Tears,The Weeknd
1203,1203,Cheap Thrills,Sia
2472,2472,No Se Que,Boza
1879,"1879,MAMACITA,""Black Eyed Peas, Ozuna, J. Rey ...",NaN,NaN
1894,1894,Life Is Good (feat. Drake),Future
...,...,...,...
1631,"1631,Shallow,""Lady Gaga, Bradley Cooper""",NaN,NaN
2768,2768,Slide (feat. Frank Ocean & Migos),Calvin Harris
753,753,ברגעים שאת הולכת,Osher Cohen
2474,2474,Si Veo a Tu Mamá,Bad Bunny
2994,2994,As the World Caves In,Sarah Cothran

In [13]:
not_hot100 = not_hot100[['ArtistName', 'SongName']]
not_hot100

         ArtistName                           SongName
1949     The Weeknd                    Save Your Tears
1203            Sia                      Cheap Thrills
2472           Boza                          No Se Que
1879            NaN                                NaN
1894         Future         Life Is Good (feat. Drake)
...             ...                                ...
1631            NaN                                NaN
2768  Calvin Harris  Slide (feat. Frank Ocean & Migos)
753     Osher Cohen                   ברגעים שאת הולכת
2474      Bad Bunny                   Si Veo a Tu Mamá
2994  Sarah Cothran              As the World Caves In

[2500 rows x 2 columns]

In [14]:
not_hot100.rename(columns={'ArtistName': 'artist', 'SongName': 'title'}, inplace=True)
not_hot100

/var/folders/t8/k_p89pr11hl5tqbxsmphfkyr0000gp/T/ipykernel_12165/4141301100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_hot100.rename(columns={'ArtistName': 'artist', 'SongName': 'title'}, inplace=True)

             artist                              title
1949     The Weeknd                    Save Your Tears
1203            Sia                      Cheap Thrills
2472           Boza                          No Se Que
1879            NaN                                NaN
1894         Future         Life Is Good (feat. Drake)
...             ...                                ...
1631            NaN                                NaN
2768  Calvin Harris  Slide (feat. Frank Ocean & Migos)
753     Osher Cohen                   ברגעים שאת הולכת
2474      Bad Bunny                   Si Veo a Tu Mamá
2994  Sarah Cothran              As the World Caves In

[2500 rows x 2 columns]

In [15]:
hot100 = pd.read_csv('not_hot.csv')
hot100

,Unnamed: 0,SongName,ArtistName
0,0,Money Longer,Lil Uzi Vert
1,1,DUELE EL CORAZON (feat. Wisin),Enrique Iglesias
2,2,My Number,Foals
3,3,Lot to Learn,Luke Christopher
4,4,Tlen,Taco Hemingway
...,...,...,...
2995,2995,BYE,Jaden
2996,2996,Pillars,My Anh
2997,2997,Gái Độc Thân,Tlinh
2998,2998,Renegade (feat. Taylor Swift),Big Red Machine
2999,"2999,Letter to Jarad,""LRN Slime, Shiloh Dynasty""",NaN,NaN

In [ ]:
concatenated_df = pd.concat([hot100, not_hot100]).drop_duplicates()
concatenated_df

In [ ]:
concatenated_df = concatenated_df.reset_index(drop=True)
concatenated_df